.App_main-content {
    padding: 0 30px;
}

.App_form {
    display: grid;
}

@media (min-width: 600px) {
    .App_form {
        display: grid;
        grid-gap: 30px;
        grid-auto-flow: column;
        align-items: flex-end;
    }
}