@import url("./components/App/App.css");
@import url("./components/DatePicker/DatePicker.css");
@import url("./components/TimePicker/TimePicker.css");
@import url("./components/TimerLog/TimerLog.css");

:root {
    --mdc-theme-primary: #f44336 !important;
}

body {
    font-family: Roboto, sans-serif;
}

/* add height placeholder */
.mdc-toolbar-wrapper {
    height: 56px;
}

@media (min-width: 600px) {
    .mdc-toolbar-wrapper {
        height: 64px
    }
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--mdc-theme-primary) !important;
}

.mdc-text-field--with-trailing-icon .mdc-text-field__input {
    padding-left: 0 !important;
}